# Sistema de Controle de Restaurante Universitário
# Dependências do projeto

# API HTTP REST
flask==3.0.3

# Visão computacional para monitoramento de fila
opencv-python==4.10.0.84

# Comunicação serial com ESP32
pyserial==3.5